@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-20 scroll-smooth;
    /* Remove blue tap highlight on touch screens */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
.gradient-text {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
	.button:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken(#0cf, 15%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
.button:hover {
		color: #fff;

	}

